* {
    margin: 0;
    padding: 0;
    color: rgba(255,255,255,0.6);
}

html,body {
    font-size: 18px;
}

body {
    height: 100%;
    overflow-y: hidden;
}

ul,li {
    list-style: none;
}

input {
    font-size: 1rem;
    padding: 0.4rem 0.2rem;
    text-align: center;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(255,255,255,0.6);
    margin-bottom: 1rem;
}
input::placeholder {
    color: rgba(255,255,255,0.6);
    font-size: 1rem;
}
input:focus {
    transition: border .4s;
    border: none;
    border-bottom: 2px solid rgba(255,255,255,1);
}

button {
    background: none;
    border: none;
    outline: none;
}

.todoClear {
    padding: 0.1rem 0.3rem;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 4px;
    margin-left: 5px;
    height: 1.2rem;
}

.todoClear:hover {
    background-color: rgba(255,255,255,0.4);
    color: rgba(255,255,255,1);
}

a {
    color: inherit;
    text-decoration: none;
}


div#BG {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

div#quote {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 780px;
}

div#quote span {
    text-align: center;
    margin-top: 1rem;
}

/* 시계 */

#clock {
    font-size: 6rem;
}

.min {
    font-size: 3rem;
}

/* 로그인 */
#greeting-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#greeting {
    font-size: 4rem;
}

#show-more {
    font-size: 1.6rem;
    margin-left: 1rem;

    cursor: pointer;
    transition: .4s;

    width: 2rem;
    height: 2rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#show-more:hover {
    color: rgba(255,255,255,0.8);
    background-color: rgba(255,255,255,0.2);
}


/* 투두 */
#todo-form {
    width: 200px;

    position: fixed;
    z-index: 3;
    top: 50%;
    left: 3rem;
    translate: 0 -50%;

    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(2px);

    padding: 1.5rem;
    border-radius: 4px;
}

#todo-form h3 {
    width: 100%;
    text-align: center;
}

.todo-input {
    margin-bottom: 1rem;
}


#todo-list li{
    margin-bottom: 0.5rem;
    display: flex;
}

#todo-list li span {
    word-wrap: break-word; /* 긴 단어를 줄바꿈 */
    word-break: break-all; /* 단어가 길 경우 강제로 줄바꿈 */
}

/* 투두 취소선 */
.completed span {
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.4);
}

/* 체크박스 스타일 */
input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.6);

    margin-right: 0.7rem;
    vertical-align: middle;

    /* 브라우저에 따른 appearance 설정 */
    -webkit-appearance: none; /* Safari, Chrome */
    -moz-appearance: none;    /* Firefox */
    appearance: none;         /* 표준 */
}

input[type="checkbox"]:checked {
    background-color: rgba(255,255,255,0.6);
    border-color: rgba(255,255,255,0.8);

    /* 브라우저에 따른 appearance 설정 */
    -webkit-appearance: none; /* Safari, Chrome */
    -moz-appearance: none;    /* Firefox */
    appearance: none;         /* 표준 */
}

/* 바로가기 도구 */
#shortcut-box {
    width: 200px;

    position: fixed;
    top: 50%;
    right: 3rem;
    translate: 0 -50%;

    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(2px);

    padding: 1.5rem;
    border-radius: 4px;

    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
}

/* 제목을 첫 번째 줄 전체로 배치 */
#shortcut-box li:first-child {
    grid-column: span 3;
    text-align: center;
}

#shortcut-box li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#shortcut-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-weight: bolder;
    
    width: 2rem;
    height: 2rem;

    font-size: 1.3rem;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
}

#shortcut-box span {
    font-size: 0.7rem;
}

/* 날씨 */
div#weather {
    position: fixed;
    z-index: 3;
    top: 1rem;
    right: 1rem;
}

/* 리프레시 아이콘 */
img#refresh {
    position: fixed;
    z-index: 3;
    bottom: 1rem;
    left: 1rem;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity .4s;
}

img#refresh:hover {
    opacity: 1;
}

#music{
    position: fixed;
    z-index: 3;
    top: 1rem;
    left: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: all .4s;
}

#music:hover {
    color: white;
}

#music:hover img {
    opacity: 1;
}

#music img {
    opacity: 0.6;
    margin-right: 0.5rem;
    transition: all .4s;
}

#painting {
    position: fixed;
    z-index: 3;
    bottom: 1rem;
    right: 1rem;
    opacity: 0.6;
    transition: opacity .4s;
}

#painting:hover{
    opacity: 1;
}